body {
    display: grid;
    grid-template-areas: 'navebar'
                          'banner'
                          'main'
                          'section'
                          'contact'
                          'footer'
    grid-template-columns: 100%;
    margin: 0;
}

nav {
    grid-area: 'navbar' ;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
}